<section class="section">
  <div class="container">
    <h1 class="title">Edit Vote</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.vote_path(@conn, :update, @vote)) %>
  </div>
</section>
