<section class="section">
  <div class="container">
    <h1 class="title">New Vote</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.vote_path(@conn, :create)) %>

  </div>
</section>