<section class="section">
  <div class="container">
    <h1 class="title">Edit Ballot</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.ballot_path(@conn, :update, @ballot)) %>
  </div>
</section>