<section class="section">
  <div class="container">
    <h1 class="title">New Ballot</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.ballot_path(@conn, :create)) %>
  </div>
</section>
