<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Majority Judgement Demo</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="<%= Routes.page_path(@conn, :index) %>" class="galaxy-logo">
          <img src="<%= Routes.static_path(@conn, "/images/galaxy.svg") %>" alt="Majority Judgement Logo" />
        </a>
        <h1>Majority Judgement</h1>
        <nav role="navigation">
          <ul>
            <li><a href="<%= Routes.tally_path(@conn, :index) %>">Tally</a></li>
          </ul>
        </nav>
      </header>
      <main role="main">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
      <footer>
        Andromeda logo designed by Chanut-is-Industries. <a href="https://www.iconfinder.com/iconsets/space-flat-galaxy-radio">License</a>
      </footer>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
