$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~bulma/bulma.sass";

.logo {
  margin-right: 0.5em;
}

.select.is-multiple select {
  height: 20em;
  resize: both;
}
