.rating.row {
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: stretch;

    * {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .column {
        height: 10rem;
        margin: 0;
        padding: 1.0rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        &.active {
            padding: 0;
            border: 1.0rem solid rgba(0,0,0,.2);
        }

        &:first-child {
            padding: 0 1.0rem;
            justify-content: center;
        }
    }



    img {
        max-height: 10rem;
    }

    input {
        margin-bottom: .8rem;
    }

    .excellent {
        background-color: #52ba8c;
    }
    .verygood {
        background-color: #87bc7a;
    }
    .good {
        background-color: #b0be6e;
    }
    .average {
        background-color: #f5ce62;
    }
    .fair {
        background-color: #e9a268;
    }
    .poor {
        background-color: #dd776e;
    }
}