<script>
  window.phxData = {
    tally: <%= raw Jason.encode! @tally %>,
  };
</script>
<div id="reactTallyChart" style="height: <%= length(@tally) * 70 %>px;">
  <!-- to be filld in by JavaScript -->
</div>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/tally.js") %>"></script>